body{
    font-family: 'Roboto Condensed', helvetica, sans-serif;
    background-color: #e2e2e2
}

div.title{
    width: 50%;
    height: 50%;
}

h1{
  color: #505660;
    font-weight: 400;
    font-size: 2.5em;
    max-width: 800px;
    text-align: center;
    margin: 25px, 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

h2{
    text-align: center;
}

h3{
  font-size: 1.25em;
    font-weight: 300;
    max-width: 800px;
    text-align: center;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

h4{
  font-size: 1.25em;
    font-weight: 300;
    max-width: 800px;
    text-align: left;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

h5{
  font-size: 1.25em;
    font-weight: 300;
    max-width: 800px;
    text-align: left;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

h6{
  font-size: 1.25em;
    font-weight: 300;
    max-width: 800px;
    text-align: left;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}
div.bio{
    max-width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

img.bioImage{
    width: 40%;
    margin: auto;
    display: block;
}

p.bioText{
    font-weight: 300;
    font-size: 1.05em;
    line-height: 130%;
}

p.bioText > a{
    color: #5050660;
}

p.bioText > a:hover{
    background-color: #505660; 
}

div.linkList{
    max-width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

li.assignmentLink{
    font-weight: 300;
    font-size: 1.05em;
    line-height: 130%;
}

li.assignmentLink > a{
    color: #000000;
}

li.assignmentLink > a:hover{
    background-color: #505660; 
}
